__pycache__/
*.pyc
.venv/
venv/
.idea/

# outputs / results
output/
result/
results/
evaluation_results/

# large model weights
*.pth
*.pt
*.onnx
*.ckpt
*.safetensors

# archives
*.zip
*.7z
*.rar

# OS
Thumbs.db
.DS_Store
136152022024_黄一洲 Log7/
136152022024_黄一洲 Log7/**
